---
layout: layout
title:
published: false
home: true
---

<section id="primary-content">
  <div class="container">
    <header id="header">
      <div class="row">
        <div class="span3">
          <h1 class="title hideText">Dontknow School of Life</h1>
        </div>
        <hgroup>
          <div class="span9">
            <h2 class="subtitle">Itinerarios formativos que mejoran tu vida</h2>
          </div>
        </hgroup>
      </div>
    </header>

    {% for post in site.categories.new %}
      <a href="{{ post.url }}" class="block-link">
        <section class="course well">
          <div class="row-fluid">
            <div class="span4">
              <div class="photo">
                <img src="{{post.imagen}}" class="img-polaroid" alt="{{ post.title }}">
              </div>
            </div>
            <div class="span8">
              <div class="row-fluid">
                <div class="span8">
                  <ul class="lista-ambitos inline">
                    <li class="type">{{post.tipo}}</li>
                    <li class="ambito">{{post.ambito}}</li>
                  </ul>
                  <h2 class="title">{{ post.title }}</h2>
                </div>
                {% assign profesor_name = post.tags | first %}
                {% for profesor in site.categories.profesor %}
                  {% if profesor_name == profesor.title %}
                    <div class="span4">
                      <div class="firma">
                        <div class="user-picture">
                          <img src="{{ profesor.imagen }}" alt="{{ profesor.title }}">
                        </div>
                        <span class="teacher">Tutor</span>
                        <span class="name">{{ profesor.title }}</span>
                        {{ profesor.cargo }}
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
              <p class="lead">{{post.entradilla}}</p>
              <span class="price">{{post.precio}}€</span>
              <span class="sticker">
                <span class="cell">Nuevo</span>
              </span>
            </div>
          </div>
        </section>
      </a>
    {% endfor %}
  </div>
</section>

<div class="container">
  <section id="courses-in-progress">
    <header class="header-section">En proceso</header>
    <ul class="thumbnails">
      {% for post in site.categories.proceso %}
        <li class="span4">
          <a href="{{ post.url }}" class="block-link">
            <div class="thumbnail">
              <div class="photo">
                <img src="{{post.imagen}}" alt="{{ post.title }}">
                <span class="price">{{post.precio}}€</span>
              </div>
              <div class="caption">
                <ul class="lista-ambitos inline">
                  <li class="type">{{post.tipo}}</li>
                  <li class="ambito">{{post.ambito}}</li>
                </ul>
                <h2 class="title">{{ post.title }}</h2>

                {% assign profesor_name = post.tags | first %}
                {% for profesor in site.categories.profesor %}
                  {% if profesor_name == profesor.title %}
                    <div class="firma">
                      <div class="user-picture">
                        <img src="{{ profesor.imagen }}" alt="{{ profesor.title }}">
                      </div>
                      <span class="teacher">Tutor</span>
                      <span class="name">{{ profesor.title }}</span>
                      {{ profesor.cargo }}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>

  {% if site.categories.futuros | size  > 0 %}
    <section id="courses-future">
      <header class="header-section">Próximamente</header>
      <ul class="thumbnails">
        {% for post in site.categories.futuros %}
          <li class="span4">
              <div class="thumbnail">
                <div class="caption">
                  <ul class="lista-ambitos inline">
                    <li class="type">{{post.tipo}}</li>
                    <li class="ambito">{{post.ambito}}</li>
                  </ul>
                  <h2 class="title">{{ post.title }}</h2>
                  <div class="actions">
                    <a class="btn btn-primary open-modal-informado" href="#modalMeInteresa" data-id="{{post.id_interesado}}" data-toggle="modal" data-title="{{ post.title | escape}}">Me interesa</a> <a href="#" class="pull-right">colaborar como profesor</a>
                  </div>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
</div>

{% include me-interesa.html %}
