---
layout: layout
title:
published: false

---

<section id="primary-content">
  <div class="container">
    <header id="header">
      <div class="row">
        <div class="span3">
          <h1 class="title hideText">Dontknow School of Life</h1>
        </div>
        <hgroup>
          <div class="span9">
            <h2 class="subtitle">Itinerarios formativos que mejoran tu vida</h2>
          </div>
        </hgroup>
      </div>
    </header>

    {% for post in site.categories.new %}
      <a href="{{ post.url }}" class="block-link">
        <section class="course well">
          <div class="row-fluid">
            <div class="span4">
              <div class="photo">
                <img src="{{post.imagen}}" class="img-polaroid" alt="{{ post.title }}">
              </div>
            </div>
            <div class="span8">
              <div class="row-fluid">
                <div class="span8">
                  <ul class="lista-ambitos inline">
                    <li class="type">{{post.tipo}}</li>
                    <li class="ambito">{{post.ambito}}</li>
                  </ul>
                  <h2 class="title">{{ post.title }}</h2>
                </div>

                {% assign profesor_name = post.tags | first %}
                {% for profesor in site.categories.profesor %}
                  {% if profesor_name == profesor.title %}
                    <div class="span4">
                      <div class="firma">
                        <div class="user-picture">
                          <img src="{{ profesor.imagen }}" alt="{{ profesor.title }}">
                        </div>
                        <span class="teacher">Tutor</span>
                        <span class="name">{{ profesor.title }}</span>
                        {{ profesor.cargo }}
                      </div>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
              <p class="lead">{{post.entradilla}}</p>
              <span class="price">{{post.precio}}€</span>
              <span class="sticker">
                <span class="cell">Nuevo</span>
              </span>
            </div>
          </div>
        </section>
      </a>
    {% endfor %}
  </div>
</section>

<div class="container">
  <section id="courses-in-progress">
    <header class="header-section">En proceso</header>
    <ul class="thumbnails">
      {% for post in site.categories.proceso %}
        <li class="span4">
          <a href="{{ post.url }}" class="block-link">
            <div class="thumbnail">
              <div class="photo">
                <img src="{{post.imagen}}" alt="{{ post.title }}">
                <span class="price">{{post.precio}}€</span>
              </div>
              <div class="caption">
                <ul class="lista-ambitos inline">
                  <li class="type">{{post.tipo}}</li>
                  <li class="ambito">{{post.ambito}}</li>
                </ul>
                <h2 class="title">{{ post.title }}</h2>

                {% assign profesor_name = post.tags | first %}
                {% for profesor in site.categories.profesor %}
                  {% if profesor_name == profesor.title %}
                    <div class="firma">
                      <div class="user-picture">
                        <img src="{{ profesor.imagen }}" alt="{{ profesor.title }}">
                      </div>
                      <span class="teacher">Tutor</span>
                      <span class="name">{{ profesor.title }}</span>
                      {{ profesor.cargo }}
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>

  <section id="courses-future">
    <header class="header-section">Próximamente</header>
    <ul class="thumbnails">
      {% for post in site.categories.futuros %}
        <li class="span4">
            <div class="thumbnail">
              <div class="caption">
                <ul class="lista-ambitos inline">
                  <li class="type">{{post.tipo}}</li>
                  <li class="ambito">{{post.ambito}}</li>
                </ul>
                <h2 class="title">{{ post.title }}</h2>
                <div class="actions">
                  <a class="btn btn-primary" href="#modalApuntate" data-toggle="modal">Me interesa</a> <a href="#" class="pull-right">colaborar como profesor</a>
                </div>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
</div>

<!-- Modal Apuntate -->
<div id="modalApuntate" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modalApuntateLabel" aria-hidden="true">
  <form action="http://dontknow.us5.list-manage.com/subscribe/post?u=e7d9eea17d963fd9ca8c597de&amp;id=b2b8a6b95e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-horizontal" novalidate>
  <input type="hidden" name="group[16001][1]" id="mce-group[16001]" value="1">
  <fieldset>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="modalApuntateLabel">Apúntate</h3>
    </div>
    <div class="modal-body">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin suscipit mauris eu libero rutrum laoreet. Aliquam vehicula dictum tempor. Quisque egestas tincidunt sem. Suspendisse eget enim nibh, quis pulvinar nulla. Aenean laoreet eros non ante adipiscing quis auctor nisl scelerisque.</p>

      <div class="control-group">
        <label for="mce-EMAIL" class="control-label">Tu email </label>
        <div class="controls">
          <input type="email" value="" name="EMAIL" class="input-xlarge" id="mce-EMAIL">
        </div>
      </div>
      <div class="control-group">
        <label for="mce-FNAME" class="control-label">Nombre </label>
        <div class="controls">
          <input type="text" value="" name="FNAME" class="input-xlarge" id="mce-FNAME">
        </div>
      </div>
      <div class="control-group">
        <label for="mce-LNAME" class="control-label">Apellidos </label>
        <div class="controls">
          <input type="text" value="" name="LNAME" class="input-xlarge" id="mce-LNAME">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>

      <input type="submit" value="Apúntate" name="subscribe" id="mc-embedded-subscribe" class="btn btn-large btn-primary">
    </div>
  </fieldset>
</form>
</div>
