---
layout: layout
---
{% include header-mini.md %}

<div class="container">
  <div class="row">
    <div class="span6 offset2">
        <div class="teacher well well-small">
        <div class="firma">
          <div class="user-picture">
            <img src="{{page.imagen}}" alt="{{page.title}}">
          </div>
          <span class="teacher">Profesor coordinador</span>
          <span class="name">{{page.title}}</span>
          {{page.cargo}}
        </div>
        <p class="description">{{page.content}}</p>
        {% if page.dontknow | size > 0 %}
          <a href="{{page.dontknow}}" class="btn btn-small">Experto de Dontknow</a>
        {% endif %}
        {% if page.twitter | size > 0 %}
          <a href="https://twitter.com/{{page.twitter}}" class="btn btn-small">Twitter</a>
        {% endif %}
        {% if page.linkedin | size > 0 %}
          <a href="{{page.linkedin}}" class="btn btn-small">Linkedin</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
